# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Виртуальные окружения
.venv/
venv/
env/

# Тесты
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# ОС
.DS_Store

# Логи и результаты
*.log
results/
